@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap')

$orange: #FF8C37
$light-yellow: #FAEFD6
$black: #282727
$white: #ececec
$light-blue: #0AAFB4
$blue: #09878B

*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    background-color: $light-yellow
    color: $orange
    padding: 20px

h1
    font-family: 'Slackey', cursive
    font-size: 48px
    text-align: center

h2
    font-family: 'Slackey', cursive
    font-size: 32px
    text-align: left

h3
    font-family: 'Open Sans', sans-serif
    font-size: 24px
    text-align: left

p
    font-family: 'Open Sans', sans-serif
    font-size: 16px
    text-align: left

a
    color: $white

.input_credentials
    margin-top: 50px
    width: 100%

    display: flex
    flex-direction: column
    align-items: center

    h3
        margin-bottom: 5px

    input
        border: none
        background-color: $light-blue
        border-radius: 5px
        color: $white
        padding: 10px
        margin-bottom: 20px
        width: 200px
        font-size: 16px

        &:focus
            outline: none

    button
        border: none
        background-color: $light-blue
        color: $white
        border-radius: 5px
        padding: 10px
        width: 200px
        cursor: pointer
        font-size: 16px

        &:hover
            background-color: $blue

.session_group
    margin-top: 50px

    h2
        margin-bottom: 10px

    .session_items
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: space-between

        .session_item
            margin: 10px 0
            padding: 10px
            border-radius: 5px
            background-color: $light-blue
            color: $white
            width: 49%
            min-width: 200px

            h3
                margin-bottom: 10px

            span.link
                text-decoration: underline
                cursor: pointer

.divider
    margin-top: 50px
    width: 100%
    height: 2px
    background-color: $orange

@media (max-width: 480px)
    .session_group
        .session_items
            flex-direction: column
            flex-wrap: nowrap
            align-items: center
            width: 100%

            .session_item
                width: 90vw
                margin: 10px 0
