<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Arcade session viewer</title>
</head>
<body>
    <h1>Arcade session viewer</h1>
    <div class="input_credentials">
        <h2>Your credentials</h2>
        <h3>Slack user id:</h3>
        <input type="text" id="input_user_id" autocomplete="off">
        <h3>Arcade API key:</h3>
        <input type="text" id="input_api_key" autocomplete="off">
        <button onclick="updateCookies()">Update credentials</button>
    </div>
    {% for goal, sessions in sessions_grouped.items()  %}
        <div class="session_group">
            <h2>Goal: {{ goal }}</h2>
            <div class="session_items">
            {% for session in sessions %}
                <div class="session_item">
                    <h3>{{ session['work'] }}</h3>
                    <p>Created at: <span class="datetime">{{ session['createdAt'] }}</span></p>
                    <p>Time: {{ session['elapsed'] }} minutes</p>
                    <p>Status: <span class="link" onclick="loadStatus('status_{{ session['createdAt'] }}')" id="status_{{ session['createdAt'] }}">Load</span></p>
                    <p>URL: <span class="link" onclick="loadUrl('url_{{ session['createdAt'] }}')" id="url_{{ session['createdAt'] }}">Load</span></p>
                </div>
            {% endfor %}
            </div>
        </div>
        <div class="divider"></div>
    {% endfor %}
    <script>
        var sessions_grouped = {{ sessions_grouped | tojson }};
    </script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>